{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set block_classes = [
    ucr_custom_css.build,
] %}
{% set list_by = content.field_list_by|field_raw('value') %}
{% set show_count = content.field_show_count|field_raw('value') %}
{% set intro = content.body|field_value|render %}
{% if show_count == 1 %}
    {% if list_by == "categories" %}
        {% set view_results = drupal_view_result('article_content_topics_list', 'categories_list_with_count')|length %}
        {% set view = drupal_view('article_content_topics_list', 'categories_list_with_count') %}
    {% else %}
        {% set view_results = drupal_view_result('article_content_topics_list', 'tags_list_with_count')|length %}
        {% set view = drupal_view('article_content_topics_list', 'tags_list_with_count') %}
    {% endif %}
{% else %}
    {% if list_by == "categories" %}
        {% set view_results = drupal_view_result('article_content_topics_list', 'categories_list_no_count')|length %}
        {% set view = drupal_view('article_content_topics_list', 'categories_list_no_count') %}
    {% else %}
        {% set view_results = drupal_view_result('article_content_topics_list', 'tags_list_no_count')|length %}
        {% set view = drupal_view('article_content_topics_list', 'tags_list_no_count') %}
    {% endif %}
{% endif %}
{% block content %}
<div{{ attributes.addClass(block_classes) }}>
    <div class="grid-container">
        {{ title_prefix }}
        {% if label %}
        <div class="grid-x grid-padding-x">
            <div class="cell"><h2{{ title_attributes }}>{{ label }}</h2></div>
        </div>
        {% endif %}
        {{ title_suffix }}
        {% if intro is not empty %}
        <div class="grid-x grid-padding-x">
            <div class="cell">
                {{ content.body }}
            </div>
        </div>
        {% endif %}
        <div class="grid-x grid-padding-x">
            <div class="cell">
                <div class="grid-container full ucr-articles-topics-list--block--container">
                    {% if view_results == 0 %}
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell">
                            <div class="callout info">
                                <div class="text-center">There are no {{ list_by }} to show.</div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell">
                            {{ view }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}