{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{% set feature_image_test = fields.field_una_featured_header.content|striptags('<img>')|trim %}
{% set title_teaser = fields.field_una_title_teaser.content|striptags|trim %}
<div class="slider-background-image">
  {% if feature_image_test is empty %}
  {{ fields.field_una_header_image.content }}
  {% else %}
  {{ fields.field_una_featured_header.content }}
  {% endif %}
</div>
<div class="slider-overlay">
  <div class="slider-overlay-content">
    <div class="slider-category-display">
        {{ fields.field_una_topic_category.content }}
    </div>
    <div class="slider-title-content">
      <a href="{{ fields.view_node.content|render|striptags|trim }}" class="slider-link-to-content">
        <span class="slider-title-display">
          <span class="slider-title-date" style="border-color: {{ fields.field_una_topic_category_1.content|striptags|trim }}">{{ fields.field_una_authored_on.content }}</span>
          <h2>{{ fields.title.content }}</h2>
          {% if title_teaser is not empty %}<div class="slider-title-subtitle"><p>{{ fields.field_una_title_teaser.content }}</p></div>{% endif %}
        </span>
      </a>
    </div>
  </div>
</div>
