<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 top">
        {{ content.top }}
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-3 column-1">
        {{ content.left_column }}
    </div>
    <div class="cell small-12 medium-6 column-2">
        {{ content.main }}
    </div>
    <div class="cell small-12 medium-3 column-3">
        {{ content.right_column }}
    </div>
  </div>
</div>
<div class="grid-container full">
  <div class="grid-x">
    <div class="cell small-12 bottom">
        {{ content.bottom }}
    </div>
  </div>
</div>