{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{% set event_image = fields.field_event_image.content|render|striptags('<img>')|trim %}
{% set event_location = fields.field_location_description.content|render|striptags|trim %}
<div class="cell event-list-separator padding-top-0"></div>
<div class="event-list-row grid-x grid-margin-x grid-padding-y align-top">

    <div class="cell medium-3 text-center hide-for-small-only">
        {% if event_image is not empty %}
        <div class="event-list-image">
            <a href="{{- event_path_url -}}">{{ fields.field_event_image.content }}</a>
        </div>
        {% endif %}
    </div>
    <div class="cell medium-9">
        <div class="event-title separator-line-before">{{ fields.title.content }}</div>
        <div class="event-date">{{ fields.field_event_start_date.content }}</div>
        {% if event_location is not empty %}<div class="event-location">{{ fields.field_location_description.content }}</div>{% endif %}
        <div class="event-summary">{{ fields.body.content }}</div>
    </div>
</div>
