{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{% set video_url = fields.field_una_header_video.content|striptags|trim %}
{% set title_teaser = fields.field_una_title_teaser.content|striptags|trim %}
<div class="una-article-header-post-content">
  <div class="una-article-header-post-bg">
    <div class="una-article-header-image">{{ fields.field_una_header_image.content }}</div>
    {% if video_url is not empty %}
    <div class="una-article-header-video">
      <video class="header-video-player" autoplay="true" loop="true" muted="true">
         <source src="{{ video_url }}" type="video/mp4" />
         <source src="{{ video_url }}" type="video/webm" />
         <source src="{{ video_url }}" type="video/ogg" />
      </video>
    </div>
    {% endif %}
  </div>
  <div class="una-article-header-date show-for-small-only">
    <span style="border-bottom: 2px solid {{ fields.field_una_topic_category_1.content|striptags|trim }}">
      {{ fields.field_una_authored_on.content }}
    </span>
  </div>
  <div class="una-article-header-overlay">
    <h1 aria-label="article title">{{ fields.title.content }}</h1>
      {% if title_teaser is not empty %}<p>{{ fields.field_una_title_teaser.content }}</p>{% endif %}
  </div>
</div>
