<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 top">
        {{ content.top }}
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-3 column-1">
        {{ content.first_column1 }}
    </div>
    <div class="cell small-12 medium-9 column-2">
        {{ content.first_column2 }}
    </div>
  </div>
</div>
<div class="grid-container full">
  <div class="grid-x">
    <div class="cell small-12 middle">
        {{ content.middle }}
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-9 column-1">
        {{ content.second_column1 }}
    </div>
    <div class="cell small-12 medium-3 column-2">
        {{ content.second_column2 }}
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 bottom">
        {{ content.bottom }}
    </div>
  </div>
</div>